{% extends 'app1/base.html' %}
{% load static %}
{% block header %}
{% if item.category == 0 %}
貸出
{% elif item.category == 1 %}
譲渡
{% else %}
リクエスト
{% endif %}
{% endblock header %}

{% block css %}
<!--Local CSS-->
{% endblock css %}
{% block title %} {{ item.item_name }} {% endblock title %}
{% block content %}
<div class="container mt-5">
    {% if item.category == 0 %}
    <div class="row">
        <div class="col detail mt-5" style="background-color: #99D98C; width: 50%; height: 70%;">
            <h3 class="ps-2 pt-3">{{ item.item_name }}</h3>
            <h5 class="ps-2">{{ item.user.room_number }} {{ item.user.user_name }}</h5>
            <p class="ps-2">{{ item.description }} <small>{{ item.posted_at }}</small></p>
            {% if item.user != user %}
            <div class="apply pb-3 ps-2"><a class="btn btn-success btn-sm" href="{% url 'deliver' item.id %}" role="button">貸してもらう</a></div>
            {% else %}
            <div class="apply pb-3 ps-2"><a class="btn btn-success btn-sm" href="{% url 'item_deleted' item.id %}" role="button">投稿を削除する</a></div>
            {% endif %}
        </div>
        {% if item.image %}
        <div class="col text-center">
            <img src='{{ item.image.url }}' class="pe-2" style="width:80%; height:100%;">
        </div>
        {% else %}
        <div class="col text-center">
            <img src='/media/no_image.jpg' class="pe-2" style="width:300px; height:300px;">
        </div>
        {% endif %}
    </div>
    {% elif item.category == 1 %}
    <div class="row">
        <div class="col detail mt-5" style="background-color: #BDE0FE; width: 50%; height: 70%;">
            <h3 class="ps-2 pt-3">{{ item.item_name }}</h3>
            <h5 class="ps-2">{{ item.user.room_number }} {{ item.user.user_name }}</h5>
            <p class="ps-2">{{ item.description }} <small>{{ item.posted_at }}</small></p>
            {% if item.user != user %}
            <div class="apply pb-3 ps-2"><a class="btn btn-primary btn-sm" href="{% url 'deliver' item.id %}" role="button">もらう</a></div>
            {% else %}
            <div class="apply pb-3 ps-2"><a class="btn btn-primary btn-sm" href="{% url 'item_deleted' item.id %}" role="button">投稿を削除する</a></div>
            {% endif %}
        </div>
        {% if item.image %}
        <div class="col text-center">
            <img src='{{ item.image.url }}' class="pe-2" style="width:300px; height:300px;">
        </div>
        {% else %}
        <div class="col text-center">
            <img src='/media/no_image.jpg' class="pe-2" style="width:300px; height:300px;">
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="row">
        <div class="col detail mt-5" style="background-color: #FFB5A7; width: 50%; height: 70%;">
            <h3 class="ps-2 pt-3">{{ item.item_name }}</h3>
            <h5 class="ps-2">{{ item.user.room_number }} {{ item.user.user_name }}</h5>
            <p class="ps-2">{{ item.description }} <small>{{ item.posted_at }}</small></p>
            {% if item.user != user %}
            <div class="apply pb-3 ps-2"><a class="btn btn-danger btn-sm" href="{% url 'deliver' item.id %}" role="button">貸してあげる</a></div>
            {% else %}
            <div class="apply pb-3 ps-2"><a class="btn btn-danger btn-sm" href="{% url 'item_deleted' item.id %}" role="button">投稿を削除する</a></div>
            {% endif %}
        </div>
        {% if item.image %}
        <div class="col text-center">
            <img src='{{ item.image.url }}' class="pe-2" style="width:300px; height:300px;" />
        </div>
        {% else %}
        <div class="col text-center">
            <img src='/media/no_image.jpg' class="pe-2" style="width:300px; height:300px;">
        </div>
        {% endif %}
    </div>
    {% endif %}

    <hr>

    <div class="row">
        <div class="col-md-6">
            {% if user == item.user %}
            {% if item.category == 0 %}
            <h4>貸してほしい人</h4>
            {% elif item.category == 1 %}
            <h4>欲しい人</h4>
            {% else %}
            <h4>貸してくれる人</h4>
            {% endif %}
            {% endif %}

            {% for lending in lendings %}
            {% if item.user == user%}

            {% if lending.item.category == 0 %}
            {% if lending.state == 0 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #99D98C;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-success btn-sm" href="{% url 'change_state' lending.id %}" role="button">貸出す</a>
                </div>
            </div>
            {% elif lending.state == 1 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFD166;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-warning btn-sm" href="{% url 'change_state' lending.id %}" role="button">貸出済</a>
                </div>
            </div>
            {% elif lending.state == 2 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #8ECAE6;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-info btn-sm" href="{% url 'change_state' lending.id %}" role="button">返却済</a>
                </div>
            </div>
            {% endif %}
            {% elif lending.item.category == 1 %}
            {% if lending.state == 0 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #BDE0FE;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-primary btn-sm" href="{% url 'change_state' lending.id %}" role="button">譲渡する</a>
                </div>
            </div>
            {% elif lending.state == 1 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFD166;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-warning btn-sm" href="{% url 'change_state' lending.id %}" role="button">譲渡済</a>
                </div>
            </div>
            {% endif %}
            {% else %}
            {% if lending.state == 0 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFB5A7;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-danger btn-sm" href="{% url 'change_state' lending.id %}" role="button">貸してもらう</a>
                </div>
            </div>
            {% elif lending.state == 1 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFD166;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-warning btn-sm" href="{% url 'change_state' lending.id %}" role="button">受取済</a>
                </div>
            </div>
            {% elif lending.state == 2 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #8ECAE6;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-info btn-sm" href="{% url 'change_state' lending.id %}" role="button">返却済</a>
                </div>
            </div>
            {% endif %}
            {% endif %}

            {% else %}
            {% if lending.lender == user %}
            {% if lending.item.category == 0 %}
            {% if lending.state == 0 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #99D98C;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <button class="btn btn-success btn-sm" role="button">貸出待ち</a>
                </div>
            </div>
            {% elif lending.state == 1 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFD166;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <button class="btn btn-warning btn-sm" role="button">受取待ち</a>
                </div>
            </div>
            {% elif lending.state == 2 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #8ECAE6;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-info btn-sm" href="{% url 'change_state' lending.id %}" role="button">返却済</a>
                </div>
            </div>
            {% endif %}
            {% elif lending.item.category == 1 %}
            {% if lending.state == 0 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #BDE0FE;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <button class="btn btn-primary btn-sm">譲渡待ち</a>
                </div>
            </div>
            {% elif lending.state == 1 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFD166;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-warning btn-sm" href="{% url 'change_state' lending.id %}" role="button">受取済</a>
                </div>
            </div>
            {% endif %}
            {% else %}
            {% if lending.state == 0 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFB5A7;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <button class="btn btn-danger btn-sm">リクエスト待ち</a>
                </div>
            </div>
            {% elif lending.state == 1 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #FFD166;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-warning btn-sm" href="{% url 'change_state' lending.id %}" role="button">貸出済み</a>
                </div>
            </div>
            {% elif lending.state == 2 %}
            <div class="d-flex justify-content-between mb-3" style="background-color: #8ECAE6;">
                <div class="p-2">
                    <h6>{{ lending.lender.room_number}} {{ lending.lender.user_name }}</h6>
                </div>
                <div class="p-2">
                    <a class="btn btn-info btn-sm" href="{% url 'change_state' lending.id %}" role="button">返却済</a>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}

            {% empty %}
            {% if user == item.user %}
            <h4>要請者なし</h4>
            {% else %}
            {% if item.category == 0 %}
            <h4>貸出リクエストを送っていません</h4>
            {% elif item.category == 1 %}
            <h4>受取リクエストを送っていません</h4>
            {% else %}
            <h4>立候補していません</h4>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-6">
            <h4>コメント</h4>
            <form enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                <div class="form_element">
                    {{form.detail}}
                </div>
                <input type="hidden" name="user" value='{{ user.id }}'>
                <input type="hidden" name="item" value='{{ item.id }}'>
                <input class="btn btn-primary btn-sm" type="submit" value="送信">
            </form>
            <hr>
            {% for comment in comments %}
            <div class="comment_list">
                <h6>{{ comment.user.room_number }} {{ comment.user.user_name }}</h6>
                <p>{{ comment.detail }}</p>
                <small>{{ comment.cmt_posted_at }}</small>
                <hr>
            </div>
            {% empty %}
            <h4>コメントはありません</h4>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}