{% extends 'app1/base.html' %}
{% load static %}
{% block header %}リクエスト{% endblock header %}
{% block css %}
<!--Local CSS-->
{% endblock css %}
{% block title %} リクエスト {% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-3">
            <a class="card border-0" href="{% url 'detail' item.id %}" id="request">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">リクエスト</h6>
                    <p class="card-text">{{ item.user.room_number }} {{ item.user.user_name }}</p>
                    <div class="date"><small>{{ item.posted_at }}</small></div>
                </div>
            </a>
        </div>
        {% empty %}
        <h3>投稿はありません</h3>
        {% endfor %}
    </div>
</div>
{% endblock content %}