a{
    color: #333333;
}

a#lend{
    background-color: #99D98C;
    text-decoration: none;
}

a#giving{
    background-color: #BDE0FE;
    text-decoration: none;
}

a#request{
    background-color: #FFB5A7;
    text-decoration: none;
}

.header {
    color: #333333;
}

hr {
    color: #333333;
}